.component {
  font-size: 18px;
  margin-top: 15px;
  /* margin: auto 0 0; */
  display: flex;
  flex-direction: row;
  background-color: #bdbfbe;
  padding: 5px;
  box-shadow: inset 1px -1px 12px 4px rgba(36, 24, 73, 0.43);
  width: 100%;
}
