.container {
  all: unset;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: lightgray;
  font-family: "Roboto", "sans-serif";
}

.main-content {
  display: flex;
  flex-direction: row;
  /* margin-bottom: 15px; */
}

.container-content {
  display: flex;
  height: 100vh;
  flex-direction: column;
  /* justify-content: space-between; */
}

.footer {
  margin: auto 0 0;
}
