.container {
    all: unset;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: lightgray;
    font-family: "Roboto", "sans-serif";
}
