.container {
  all: unset;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: lightgray;
  font-family: "Roboto", "sans-serif";
}

.container-content {
  display: flex;
  height: 100vh;
  flex-direction: column;
  /* justify-content: space-between; */
}

.main-content {
  display: flex;
  flex-direction: row;
}

.content-secondary {
  display: flex;
  flex-direction: row;
}

.content-secondary > * {
  margin: 10px;
  height: 100%;
  width: 100%;
  max-width: 100px;
}

.footer {
  margin: auto 0 0;
}
