.full-navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
}

.navbar {
  display: flex;
  flex-direction: column;
  background-color: #bdbfbe;
  /* padding: 5px; */
  border-top-left-radius: 17px;
  box-shadow: inset 1px -1px 12px 4px rgba(36, 24, 73, 0.43);
}

.navbar-contacts {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px 0 0;
}

.navbar-contacts > a {
  background-color: #bdbfbe;
  font-size: 18px;
  box-shadow: inset 1px -1px 12px 4px rgba(36, 24, 73, 0.43);
}

.navbar-contacts > a:first-child {
  border-top-left-radius: 20px;
  padding: 15px;
}
.navbar-contacts > a:last-child {
  border-top-right-radius: 20px;
  padding: 15px;
}

.navbar-contacts > a:hover {
  color: #e26b03;
  text-shadow: 0px 0px 1px #000;
  background-color: #b1b4b3;
}

.contacts-info {
  justify-content: space-evenly;
}

.navbar-upper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navbar-upper > * {
  padding: 15px;
  font-size: 18px;
}

.navbar-upper > div:last-child {
  line-height: 1.5;
  color: black;
}

.upper-logo {
  width: 100%;
  max-width: 200px;
  height: 100%;
}

.upper-vlak {
  width: 100%;
  max-width: 700px;
  max-height: 200px;
  object-fit: contain;
}

.navbar-lower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  box-shadow: 5px 4px 56px -8px rgba(0, 0, 0, 0.23);
}

.navbar-lower > a {
  display: inline-block;
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding: 18px 80px;
  margin: 0 15px;
  /* box-shadow: inset 5px 4px 56px -8px rgba(0,0,0,0.3); */
}

/* .navbar-lower > a:first-child {
  padding-left: 95px;
}

.navbar-lower > a:last-child {
  padding-right: 95px;
} */

.navbar-lower > a:hover {
  background-color: #fc861e;
}

.navbar-lower > a:active {
  background-color: orangered;
}

.lower-separator {
  width: 2px;
  height: 30px;
  background-color: black;
}
